# Python virtual environment
venv/

# Byte-compiled Python files
*.pyc
*.pyo
__pycache__/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder metadata
Icon?

# Directories related to macOS filesystems
._*

# Logs and temporary files
*.log
*.tmp

# Ignore all flat files from polygon
data/us_stocks_sip/*

# Ignore processed data output
data/processed_data.feather
